<!DOCTYPE html>
<html ng-app="module1-solution">
    <head>
        <meta charset="utf-8">
        <title>Module1-solution</title>
        <script src="bower_components/angular/angular.min.js"></script>
        <script src="app.js"></script>
    </head>
    <body>
        <h1>Module 1 solution</h1>
        <div ng-controller="itemsController">
            <label>Enter your items separated by comma</label><br />
            <input type="text" ng-model="items" /><br />
            <button ng-click="checkItems()">Check If Too Much</button>
            <div>{{output}}</div>
        </div>
    </body>
</html>
